# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 5259863f0deb
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 650
max_accel: 40000           #Max 4000
max_accel_to_decel: 20000
max_z_velocity: 20          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 10

[exclude_object]
[respond]
# Enable arcs support
[gcode_arcs]
resolution: 0.1
########################################
# Diag
########################################

[force_move]
enable_force_move: true
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false. 


[include mainsail.cfg]
[include EBBCan.cfg]
[include macros/shell_command.cfg]
# [include macros/calibration/*.cfg]
[include adxl.cfg]
[include macros/gcode_button.cfg]
[include macros/bedfans.cfg]
[include macros/config_backup.cfg]
[include macros/fan_tach_monitor.cfg]
[include macros/macros.cfg]
[include macros/nozzle_scrub.cfg]
[include macros/print_base.cfg]
[include macros/SB_LED.cfg]
[include macros/test_speed.cfg]
# [include macros/klicky/klicky-probe.cfg]
# [include macros/KAMP/Adaptive_Mesh.cfg]
# [include macros/KAMP/Voron_Purge.cfg]
# [include macros/*.cfg]
[include KAMP_Settings.cfg]
# [include macros/sensorless_homing.cfg]
[include K-ShakeTune/*.cfg]
#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PE2
dir_pin: !PB4
enable_pin: !PC11
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper
endstop_pin: EBBCan:PB6
# endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0


##--------------------------------------------------------------------

position_endstop: 305
position_max: 305


##--------------------------------------------------------------------
homing_speed: 80  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##    Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PC10
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 2.3
sense_resistor: 0.022
stealthchop_threshold: 0
# diag1_pin: ^!PF3 # use the same pin that was previously the endstop_pin! 
# driver_SGT: 1  # -64 is most sensitive value, 63 is least sensitive


[stepper_y]
step_pin: PF12
dir_pin: !PF11
enable_pin: !PB3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper
endstop_pin:PF4
# endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
##--------------------------------------------------------------------
position_endstop: 307
position_max: 307


##--------------------------------------------------------------------
homing_speed: 80  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PF13
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 2.3
sense_resistor: 0.022
stealthchop_threshold: 0
# diag1_pin: ^!PF4 # use the same pin that was previously the endstop_pin! 
# driver_SGT: 1  # -64 is most sensitive value, 63 is least sensitive

#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
# endstop_pin: ^PG15
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -1.160
## All builds use same Max Z
position_max: 235
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD4
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF8
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

## SEE EBBCan.cfg


# [extruder]
# step_pin: sb2040:gpio9
# dir_pin: !sb2040:gpio10
# enable_pin: !sb2040:gpio7
# rotation_distance: 22.3969156
# gear_ratio: 50:10
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# min_temp: -50
# max_temp: 350
# # pressure_advance: 0.022
# pressure_advance: 0.04
# pressure_advance_smooth_time: 0.020
# heater_pin: sb2040:gpio6
# sensor_pin: sb2040:gpio27
# max_extrude_only_distance: 500 
# #max_extrude_only_velocity: 120


# sensor_type: PT1000
# pullup_resistor: 1000
# #sensor_type: ATC Semitec 104NT-4-R025H42G

# [tmc2209 extruder]
# uart_pin: sb2040:gpio8
# run_current: 0.600
# stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PB7
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA0
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.7
pwm_cycle_time: 0.01
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

# [probe]
# ##  Inductive Probe
# ##  This probe is not used for Z height, only Quad Gantry Leveling

# # Select the probe port by type:
# ## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
# #pin: ~!PB7
# ## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
# #pin: PG15
# ## For Octopus Pro Probe port; NPN and PNP proximity switch types can be set by jumper
# #pin: ~!PC5

# #--------------------------------------------------------------------
# pin: PG13
# x_offset: 0
# y_offset: 27
# z_offset: 6.42
# speed: 5
# samples: 3
# sample_retract_dist: 2
# lift_speed: 5.0
# samples_result: median
# samples_tolerance: 0.01
# samples_tolerance_retries: 5
# #x_offset: 0
# #y_offset: 25.0
# #z_offset: 0
# #speed: 10.0
# #samples: 3
# #samples_result: median
# #sample_retract_dist: 3.0
# #samples_tolerance: 0.006
# #samples_tolerance_retries: 3

######

#####################################################################
#   Fan Control
#####################################################################

#[fan]
##  Print Cooling Fan - FAN0
#pin: PA8
#kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10

#[heater_fan hotend_fan]
##  Hotend Fan - FAN1
#pin: PE5
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PE6
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.8
shutdown_speed: 0.0
idle_timeout: 30

[fan_generic nevermore]
pin: PC12
#pwm: true
cycle_time: 0.010
#value: 0
#shutdown_value: 0

[controller_fan stepper_fan1]
##  Controller fan - FAN2
pin: PE5
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30

# [controller_fan stepper_fan2]
# ##  Controller fan - FAN2
# pin: PE4
# kick_start_time: 0.5
# stepper: stepper_x, stepper_y
# heater: heater_bed, extruder
# fan_speed: 1.0
# shutdown_speed: 0.0
# idle_timeout: 30

[controller_fan 5160_fans]
#  Controller fan - FAN2
pin: PE4
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 0.8
shutdown_speed: 0.0
idle_timeout: 30


#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   Additional Sensors
#####################################################################

#[thermistor Trianglelab-NTC100K-B3950]
#temperature1: 25
#resistance1: 103180
#temperature2: 150
#resistance2: 1366.2
#temperature3: 250
#resistance3: 168.6

[temperature_sensor chamber]
## Chamber Temperature - T1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA2
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor raspberry_pi]
## Pi Temps
sensor_type: temperature_host
max_temp: 100

[temperature_sensor mcu_temp]
## Octopus Temps
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor upper_bed]
# Upper glass Bed thermistor
sensor_type: Generic 3950
sensor_pin: PA3
min_temp: 0
max_temp: 140

# [filament_motion_sensor filament_sensor]
# detection_length: 10
# extruder: extruder
# switch_pin: ^PC5
# pause_on_runout: True
# insert_gcode:
#     M117 Insert Detected
# runout_gcode:
#     M117 Runout Detected
#     #LCDRGB R=1 G=0 B=0  # Turn LCD red
#     #BEEP I=12

# [filament_motion_sensor filament_sensor]
# detection_length: 15.00 ; This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
# extruder: extruder
# switch_pin: ^PC5
# pause_on_runout: True # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
# event_delay: 3.0
# pause_delay: 0.5
# runout_gcode:
#     M117 Runout Detected!


[filament_switch_sensor switch_sensor]
switch_pin: ^PB0
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor filament_sensor]
switch_pin: ^PC5
# detection_length: 2.88
detection_length: 10
extruder: extruder
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    M117 Runout Detected!
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted


# [filament_switch_sensor filament_sensor]
# switch_pin: ^sb2040:gpio28
# pause_on_runout: True
# insert_gcode:
#     M117 Insert Detected
# runout_gcode:
#     M117 Runout Detected
#     #LCDRGB R=1 G=0 B=0  # Turn LCD red
#     #BEEP I=12
#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PB6
pwm: True
hardware_pwm: True
shutdown_value: 0
value:0
# scale: 100
cycle_time: 0.01

[neopixel Skirt_LEDS]
pin: PB15
chain_count: 24
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2


#####################################################################
#   Beacon
#####################################################################

[beacon]

serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_1EF39A474E4B333448202020FF0A0834-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 21.5 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 150, 150 # update for your machine
z_hop: 10
speed: 100

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead


## Uncomment below for 300mm build
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

##--------------------------------------------------------------------

speed: 300
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

########################################
# BED MESH
########################################
[bed_mesh]
speed: 350

mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15
algorithm: bicubic



#############################
#BUTTONS
##############################
[gcode_button tophatoff]
pin: ^PF5
press_gcode: LEDOFF


##-----------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.532
#*# pid_ki = 1.502
#*# pid_kd = 247.089
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.254
#*# pid_ki = 2.465
#*# pid_kd = 69.902
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 90.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 60.0
#*# damping_ratio_x = 0.042
#*# damping_ratio_y = 0.051
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.028595, -0.023653, -0.031715, -0.037180, -0.032832, -0.024180, -0.019963, -0.025921, -0.014943, -0.021412, -0.036983, -0.036174, -0.029393, -0.031273, -0.031913
#*# 	-0.025014, -0.020362, -0.023295, -0.031701, -0.029149, -0.022612, -0.025554, -0.024795, -0.016159, -0.014108, -0.026815, -0.030290, -0.025122, -0.031853, -0.036877
#*# 	-0.018796, -0.014516, -0.020002, -0.027080, -0.022976, -0.015744, -0.020553, -0.023962, -0.010836, -0.005640, -0.014566, -0.022431, -0.021352, -0.030872, -0.044264
#*# 	-0.012771, -0.007766, -0.009055, -0.014349, -0.011318, -0.003176, -0.006356, -0.006694, 0.008612, 0.011296, -0.000600, -0.007460, -0.014583, -0.030478, -0.047952
#*# 	-0.015996, -0.012316, -0.010414, -0.014504, -0.008120, 0.000028, -0.001252, 0.001595, 0.014698, 0.015537, 0.005702, -0.004258, -0.008904, -0.029137, -0.046523
#*# 	-0.016003, -0.011465, -0.010831, -0.012010, -0.004586, 0.003643, 0.007459, 0.008881, 0.020309, 0.018059, 0.003386, -0.004610, -0.010266, -0.028238, -0.046250
#*# 	-0.024622, -0.018942, -0.013449, -0.014466, -0.007701, 0.003531, 0.008229, 0.011466, 0.018444, 0.018161, 0.002212, -0.008684, -0.012555, -0.027111, -0.042380
#*# 	-0.030304, -0.026676, -0.020089, -0.016014, -0.008788, 0.005863, 0.007886, 0.007329, 0.011891, 0.006994, -0.006694, -0.013088, -0.013727, -0.027224, -0.044365
#*# 	-0.033885, -0.027964, -0.020780, -0.016797, -0.012408, -0.001099, 0.001477, 0.000837, 0.003477, 0.002599, -0.011128, -0.017545, -0.020665, -0.034088, -0.048607
#*# 	-0.033294, -0.027317, -0.019366, -0.018382, -0.011034, -0.003345, -0.010626, -0.012620, -0.007033, -0.007398, -0.014437, -0.020925, -0.023293, -0.040285, -0.055794
#*# 	-0.038438, -0.032550, -0.027640, -0.026561, -0.021959, -0.016156, -0.023505, -0.026842, -0.019937, -0.017956, -0.025968, -0.028918, -0.032406, -0.048005, -0.071392
#*# 	-0.039500, -0.035359, -0.030424, -0.033574, -0.025183, -0.021661, -0.026052, -0.020201, -0.014545, -0.012342, -0.024796, -0.030393, -0.030277, -0.051853, -0.069358
#*# 	-0.050695, -0.050085, -0.046371, -0.050354, -0.043915, -0.033478, -0.033381, -0.025085, -0.014606, -0.018940, -0.033168, -0.039897, -0.040024, -0.059135, -0.071673
#*# 	-0.056383, -0.062375, -0.060982, -0.059355, -0.048193, -0.036118, -0.031117, -0.026225, -0.015951, -0.020260, -0.035472, -0.039018, -0.043285, -0.056750, -0.073240
#*# 	-0.052695, -0.056626, -0.055448, -0.054713, -0.038627, -0.030127, -0.029297, -0.021179, -0.011564, -0.009304, -0.023726, -0.029039, -0.029256, -0.043856, -0.062207
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [beacon model default]
#*# model_coef = 1.4487220989730396,
#*# 	  1.7681460626039953,
#*# 	  0.7610475304822539,
#*# 	  0.36597993416752633,
#*# 	  0.319704955869203,
#*# 	  0.30764806226216523,
#*# 	  -0.10436878461133718,
#*# 	  -0.19971926391697808,
#*# 	  0.17460551644940134,
#*# 	  0.16017382435717795
#*# model_domain = 3.172354308346571e-07,3.343402747749216e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 73.471679
#*# model_offset = 0.00000
